<button id="commentsButton" data-id="<%=@comments.recipe.id%>">Comments</button>

<div id="commentsResults">
</div>

<script id="comments-template" type="text/x-handlebars-template">
  {{#each}}
  {{comments}}
  {{/each}}
</script>
