<button id="commentsButton" data-id="<%=@comments.first.recipe_id%>">Comments</button>

<div id="commentsResults">
</div>

<script id="comments-template" type="text/x-handlebars-template">

  {{#each comments}}
  {{content}}
  {{/each}}

</script>
