<h1>Recipes#index</h1>

<div id="recipesResults"></div>

<%if @user == current_user %>
<p><%= link_to "Add New Recipe", new_recipe_path(current_user) %></p>
<%end%>

<script type ="text/javascript" charset="utf-8">
  $(function() {
    Recipes.index()
  });
</script>

<script id="recipes-template" type="text/x-handlebars-template">

  {{#each recipes}}
  <h3><a href="/recipes/{{id}}">{{name}}</a></h3>
    {{content}}
    {{/each}}
</script>
