<div id ="recipeResults">
  <h1 class="name" data-id="<%=@recipe.id%>"><%= @recipe.name %></h1>
</div>

<p><button class= "js-next" data-id="<%=@recipe.id%>" type="button">Next Recipe</button></p>

<script type="text/javascript" charset="utf-8">
  $(function() {
    showRecipe()
    $(".js-next").on("click", nextRecipe)
  })
</script>

<script id="recipe-template" type="text/x-handlebars-template">
  <h1>{{name}}</h1>

  <h3>Content</h3>
    <p>{{content}}</p>

  <h3>Ingredients List</h3>
    {{#list ingredients}}
    <strong>Item:</strong> {{item.name}} <strong>Quantity:</strong> {{quantity}} {{unit}}{{/list}}

  <h3>Comments</h3>
    {{#recipeComments comments}}
    {{content}} ~by <strong>{{user.email}}</strong><br>
      {{#if comments}}
      <a href="{{recipe_id}}/comments/{{id}}/edit">Edit Comment</a><br>
      <a rel="nofollow" href="{{recipe_id}}/comments/{{id}}" data-method="delete">Delete Comment</a><br>
      {{/if}}
    {{/recipeComments}}

    <p><a href="/recipes/{{id}}/comments/new">Add Comment</a></p>
    <p><a href="/recipes/{{id}}/edit">Edit Recipe</a></p>
    <p><a rel="nofollow" href="/recipes/{{id}}" data-method="delete">Delete Recipe</a></p>
</script>
