<label for="recipe_ingredients_attributes_item_attributes_Item Name:">Item name:</label>
<input type="text" name="recipe[ingredients_attributes][][item_attributes][name]"  />
<label for="recipe_ingredients_attributes_0_Quantity:">Quantity:</label>
<input type="text" name="recipe[ingredients_attributes][][quantity]"  />
<label for="recipe_ingredients_attributes_0_Unit:">Unit:</label>
<input type="text" name="recipe[ingredients_attributes][][unit]"  />
